In [121]:
import pandas as pd
from sklearn.model_selection import train_test_split;
from sklearn.preprocessing import StandardScaler,LabelEncoder;
import pickle
from tensorflow.keras.models import load_model
import tensorflow

In [122]:
### laoading the trained model,scalar pickle and one hot encoding 
model=load_model('model.h5')
## load the encoders and scalar
with open('le_gender.pkl','rb')as file:
    le_gender=pickle.load(file)
with open('ohe_geo.pkl','rb') as file:
    ohe_geo=pickle.load(file)
with open('scaler.pkl','rb')as file:
    scaler=pickle.load(file)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [123]:
# Example input data
input_data = {
    'CreditScore': 2000,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 6000000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [124]:
## how to convert the sample data into the
# first in encoding and second standard scaling
# maybe just like a websites we can take input and then 
# #apply encoding and scaling on it.

In [125]:
geo_encoded=ohe_geo.transform([[input_data['Geography']]])
geo_encoded_df=pd.DataFrame(geo_encoded,columns=ohe_geo.get_feature_names_out(['Geography']))
geo_encoded_df

/Users/shantanukumar/Documents/codes/ANN-Basic/venv/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [126]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,2000,France,Male,40,3,6000000,2,1,1,50000

In [127]:
input_df['Gender']=le_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,2000,France,1,40,3,6000000,2,1,1,50000

In [128]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,2000,1,40,3,6000000,2,1,1,50000,1.0,0.0,0.0

In [129]:
input_scaled=scaler.transform(input_df)
input_scaled

array([[13.9928383 ,  0.91324755,  0.10479359, -0.69539349, 94.8474663 ,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [130]:
## predict churn
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 20ms/step

array([[0.9999914]], dtype=float32)

In [131]:
prediction_pr=prediction[0][0] 
if prediction_pr>0.5:
    print("The customer is likely to churn")
else:
    print("The customer is not likely to churn")

The customer is likely to churn